@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4 pt-5 pb-3">Course Management Application</h1>
    <p class="p-5">Welcome to this Course Management Application created by Lyritsis Theoklitos as the final project for the 
        Skills4Jobs program organised by <a style="text-decoration: none" href="https://www.sev.org.gr/">Hellenic Federation of Enterprises (SEV)</a> 
        and <a style="text-decoration: none" href="https://www.aueb.gr/">Athens University of Economics & Business</a>
        and powered by <a style="text-decoration: none" href="https://www.regeneration.gr/en/homepage/">Regeneration</a>.
    </p>
</div>
